/*Paleta de colores preferida
CHILD CARE
#FDE7EA
#FDEFDA

JUICY PEACH
#FFC2C2
#FFD7A8
*/

/* 
Elementos de momento para prueba
*/

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2% 0 2% 0;
}
aside {
	width: 100%;
}
div {
	padding-top: 2%;
}

/*
Elementos de la barra de navegacion
*/

@font-face {
	font-family: geo-sanslight;
	src: require('geosansLight.ttf');
	src: require('geosansLight-Oblique.ttf');
}

/* * {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-family: geo-sanslight;
	font-size: x-large; 
} */

body {
	background-color: #025e73;
}
section {
	padding: 0 5% 0 5%;
}

.barra-navegacion {
	/* background: linear-gradient(45deg, #011f26 60%, #026873); */
	height: 100%;
	width: 100%; /*Ocupa todo el espacio posible horizontalmente*/
	display: flex; /*flexbox model*/
	flex-direction: row; /*Orientacion principal: izquierda-derecha*/
	justify-content: space-between; /*distribuye el espacio en medio de los elementos en el axis principal*/
	flex-wrap: wrap-reverse; /*agrupa los elementos de manera que quepan cuando no hay espacio*/
	align-content: space-around; /*indica a flex-wrap como acomodar los elementos*/
	padding: 2% 0 2% 0; /*clock-wise empezando por 12 horas*/
}

/*Cambiar el display por defecto de los ul y li*/
:is(.navegacion-cuenta, .navegacion-pagina) {
	padding: 0.5% 0 0.5% 0; /*clock-wise empezando por 12 horas*/
	margin: 0 10% 0 10%; /*clock-wise empezando por 12 horas*/
	display: inline-flex; /*Los elementos de una lista son de tipo block por defecto*/
	flex-direction: row;
	justify-content: space-around; /*Centra el contenido en el eje X*/
	align-items: center; /*Centra el contenido en el eje Y*/
	flex: 1 2; /* Tres valores: flex-grow | flex-shrink | flex-basis */
	height: 15%;
	border: 1px solid black;
}

/*Remover los estilos de los enlaces de navegacion en forma de lista*/
.enlace-navegacion {
	list-style-type: none;
	min-width: max-content;
	max-width: max-content;
	min-height: 3em;
	max-height: 3em;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	align-items: center;
}

/*Efecto sobre poner mouse*/
.enlace-navegacion:hover {
	border: 0.5px solid black;
}

/*
Elementos del pie de pagina
*/

footer {
	width: 100%;
	position: relative;
	bottom: 0;
}
.barra-navegacion-pie {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap-reverse;
}
.navegacion-pie {
	display: inline-flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.navegacion-pie .enlace-navegacion {
	display: inline-flex;
	justify-content: space-evenly;
	min-width: 300px; /*El navegador no reconoce el 33%*/
}

.enlace-navegacion img {
	width: 33px;
}
/*Estilos de imagenes*/
img {
	display: inline;
	/* filter: invert(51%) sepia(55%) saturate(1159%) hue-rotate(308deg) brightness(101%) contrast(90%); */
}

@media (max-width: 800px) {
	:is(.barra-navegacion, .barra-navegacion-pie) {
		height: 100%;
		width: 100%; /*Ocupa todo el espacio posible horizontalmente*/
		display: flex; /*flexbox model*/
		flex-direction: column; /*Orientacion principal: izquierda-derecha*/
		justify-content: space-between; /*distribuye el espacio en medio de los elementos en el axis principal*/
		flex-wrap: wrap; /*agrupa los elementos de manera que quepan cuando no hay espacio*/
		align-content: space-around; /*indica a flex-wrap como acomodar los elementos*/
		padding: 5% 0 5% 0; /*clock-wise empezando por 12 horas*/
	}

	:is(.navegacion-cuenta, .navegacion-pagina, .navegacion-pie) {
		width: 80%;
		padding: 2% 0 0.5% 0; /*clock-wise empezando por 12 horas*/
		margin: 0 10% 0 10%; /*clock-wise empezando por 12 horas*/
		display: inline-flex; /*Los elementos de una lista son de tipo block por defecto*/
		flex-direction: column;
		justify-content: space-around; /*Centra el contenido en el eje X*/
		align-items: center; /*Centra el contenido en el eje Y*/
		flex: 1 2; /* Tres valores: flex-grow | flex-shrink | flex-basis */
		height: 15%;
		border: 1px solid black;
	}

	.navegacion-pie .enlace-navegacion {
		justify-content: center;
		min-width: max-content;
	}

	.barra-navegacion-pie {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}
}
